ol { /*obrub, sirina, pozicija unutar liste*/
    border: 2px solid black;
    width: 250px;
    padding: 5px;
    list-style-position: inside;
}

ol li { /*items of list stilization: obrubi, boja, visina linije*/
    padding: 3px;
    padding-left: 34px;
    margin-bottom: 5px;
    line-height: 15px;
    color: black;
}

ol li a { /*stiliziranje linkova: nema dekoracija, nema underline*/
    text-decoration: none;
}

img { /*pomak slike u lijevo*/
    float: left;
    margin-top: 3px;
}
 /*tri klase za boje pozadine*/
.en {
    background-color: rgba(0, 255, 0, .75);
}

.de {
    background-color: rgba(255, 0, 0, .25);
}

.es {
    background-color: rgba(0, 0, 255, .5);
}

ol li a:hover /* prijelaz preko linkova, uppercase kao transformacija, crvena boja i underline pod tekstom */{
    text-transform: uppercase;
    color: red;
    text-decoration: underline;
}